<div class="jumbotron">
    <h1>Haina International Terminals</h1>
    <p class="lead">Web Api para la liberacion de hold and permision de Portcollector VEC</p>
    <p>
        @Html.ActionLink("Informacion", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Images/1_jpg__595__405__CROPz5x595y405.jpg" />
        </div>
    </div>
    <div class="col-md-6">
        <h2>Quiénes somos</h2>
        <p>Haina International Terminals, S. A. S.,  es una  empresa  creada el 10 de Octubre del año 2000 por un grupo de empresarios del sector naviero, con el propósito de  realizar  y modernizar  todas las operaciones del Puerto de Río Haina,  de esta manera colocarlo a la altura de los puertos del área del caribe, por ser este el más importante del país, realizando una inversión millonaria  para su modernización, de acuerdo a los  estándares de comercio  internacional.</p>
        <p>En la actualidad estamos certificados BASC (La Alianza Empresarial para un Comercio Seguro),  del Código PBIP (Protección de los Buques y de las Instalaciones Portuarias) y C-TPAT, que son requerimientos establecidos por los organismos internacionales  que contribuyen a la facilitación y agilización del comercio, y convertir este puerto en el más importante del  área del Caribe..</p>
        <p>Así mismo, somos el primer puerto dominicano en recibir certificación ISO9001-2008 y la primera empresa del país en recibir certificación Operador Económico Autorizado (OEA) .</p>
    </div>
</div>

